<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>
    <h1>Add Item</h1>
    <label for="itemName">Item Name:</label>
    <input type="text" id="itemName" required>
    <br>
    <label for="itemAmount">Item Amount:</label>
    <input type="number" id="itemAmount" required>
    <br>
    <!-- Remove the date input field as it will be set automatically -->
    <br>
    <label for="itemBought">Bought:</label>
    <input type="checkbox" id="itemBought">
    <br>
    <button onclick="addItem()">Add Item</button>

    <script>
        function addItem() {
            const itemName = document.getElementById('itemName').value;
            const itemAmount = document.getElementById('itemAmount').value;
            const itemBought = document.getElementById('itemBought').checked;

            // Set the current date and time
            const currentDate = new Date();
            const formattedDate = currentDate.toISOString();

            // Make API request to add item
            fetch('http://localhost:8000/shopping_list/api/add-item/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    item: itemName,
                    amount: parseInt(itemAmount),
                    date_added: formattedDate,
                    bought: itemBought,
                }),
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else if (response.status === 400) {
                    throw new Error('Invalid input: ' + response.statusText);
                } else {
                    throw new Error('Failed to add item: ' + response.statusText);
                }
            })
            .then(data => {
                console.log('Item added:', data);
                alert('Item added successfully!');
            })
            .catch(error => {
                console.error('Error adding item:', error.message);
                alert('Error adding item. Please try again.');
            });
        }
    </script>
    <br>
    <a href="{% url 'index' %}"><button>Back to Shopping list</button></a>
</body>
</html>
