<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure requests are within the /shopping-list/ subdirectory
    RewriteBase /shopping-list/

    # Redirect to index.html if the requested file or directory is not found
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>