.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-list {
  text-align: center;  /* Centers text horizontally */
  display: block;      /* Ensures it's treated as a block-level element */
  margin-top: 20px;    /* Optional: adds space above */
  font-size: 18px;     /* Optional: change the font size */
}

.delete-item {
  float: right; 
}