.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-list {
  text-align: center;  /* Centers text horizontally */
  display: block;      /* Ensures it's treated as a block-level element */
  margin-top: 20px;    /* Optional: adds space above */
  font-size: 18px;     /* Optional: change the font size */
}

.delete-item {
  float: right; 
}

.container-fluid {
  padding: 20px;
}

.navbar-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000000; /* You can adjust the color as needed */
}

.nav-column {
  background-color: #f8f9fa; /* Apply the background color to the full column */
  padding-top: 20px;
}

.custom-nav .nav-link {
  color: #0d6efd; /* Default color for the links */
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease; /* Smooth transition for text color only */
}

.custom-nav .nav-link:hover {
  color: #0056b3; /* Change only the text color on hover */
}
